<div class="card my-4">
	<div class="card-body">
		<h1>About</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi maxime, id ad minus, enim eaque soluta iste eum impedit porro culpa a dolorum reprehenderit distinctio odit. Nemo similique, quidem aut cupiditate, fugiat, ut iure totam, ex suscipit amet esse. Illum.</p>
	</div>
</div>