<div class="jumbotron mt-4">
	<h1 class="display-4">Notes App Nodejs And MongoDB</h1>
	<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
	<hr class="my-4">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sed beatae neque exercitationem ipsum. Necessitatibus itaque culpa odit et repudiandae saepe ipsa totam, dolore enim libero sunt ab maxime ullam.</p>
	<a href="/users/signup" class="btn btn-primary btn-lg">Registrarse</a>
</div>